<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts :: header"> </head>

  <body>
    <nav th:replace="layouts :: navcheems"></nav>

    <div class="container">
      <h2>Sucursal List</h2>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Sucursal ID</th>
            <th>Sucursal Name</th>
            <th>Sucursal Country</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="s:${list}">
            <td th:text="${s.pk_SucursalID}"></td>
            <td th:text="${s.nombreSucursal}"></td>
            <td th:text="${s.paisSucursal}"></td>
            <td>
              <div class="container">
                <a th:href="@{/sucursal/getOne/}+${s.pk_SucursalID}">
                  <button type="button" class="btn btn-success">View</button>
                </a>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
